/* --------------------- */
/* Header desing */
/* --------------------- */

html,
body {
  /* overflow-x: hidden; */
}

.header {
  height: 10vh;
  /* position: fixed; */
  top: 0;
  padding: 4% 5%;
  left: 0;
  border-bottom: 0.4px solid var(--white);
  z-index: 1000;
  background-color: var(--black-100);
}

.header-logo > a > img {
  height: 80px;
  width: 100%;
}

.nav-list {
  gap: 20px;
}
.nav-links > a {
  color: var(--secondary-color);
  transition: all 0.3s;
}

.nav-links > a:hover,
a:active {
  color: var(--primary-yellow);
}

.mobile-navbar-btn {
  display: none;
  cursor: pointer;
}

/* --------------------- */
/* Header desing For mobile */
/* --------------------- */

.mobile-nav-icon {
  font-size: 30px;
  color: var(--white);
}
.mobile-nav-icon[name="close-sharp"] {
  display: none;
}

@media screen and (max-width: 900px) {
  .mobile-navbar-btn {
    display: block;
  }
  .mobile-nav-icon[name="menu-sharp"] {
    display: block;
    color: #fff;
    font-size: 40px;
  }

  .headeR {
    position: relative;
  }
  .nav-list {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 100%;
    height: 100vh;
    background-color: var(--black-100);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;

    /* transition */
    transform: translateX(100%);
    transition: all 0.3s linear;
  }

  .active .nav-list {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-nav-icon[name="menu-sharp"] {
    display: none;
  }
  .active .mobile-nav-icon[name="close-sharp"] {
    display: block;
  }

  .header-logo > a > img {
    height: 60px;
    width: 100%;
  }
}
