.utility_width-100 {
  width: 100%;
}

.utility_flex {
  display: flex;
}

.utility_flex-center {
  display: flex;
  align-items: center;
}

.utility_flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.utility_grid {
  display: grid;
}

.utility_grid-center {
  display: grid;
  place-items: center;
}

.utility_grid-2 {
  grid-template-columns: repeat(2, 1fr);
  gap: 3%;
}

.utility_grid-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
}

.utility_grid-4 {
  grid-template-columns: repeat(4, 1fr);
  gap: 3%;
}

.utility_main-heading {
  font-size: 34px;
  font-weight: 700;
  color: var(--secondary-color);
}

.utility_text {
  font-size: 18px;
  font-weight: 400;
  color: var(--primary-text-color);
}

.utility_basic-button {
  border-radius: 6px;
  padding: 0 20px;
  background-color: var(--primary-color);
  box-shadow: 0 15px 35px #377ef926;
  border: none;
  outline: none;
  overflow: hidden;
  position: relative;
  line-height: 2.8;
  transition: all 0.5s linear;
  color: var(--white);
}

.utility_basic-button::before {
  content: attr(data-value);
  position: absolute;
  top: 0;
  right: 0;
  left: -100%;
  height: 100%;
  width: 0;
  border-radius: 6px;
  padding: 0 20px;
  background-color: var(--primary-color);
  box-shadow: 0 15px 35px #377ef926;
  border: none;
  outline: none;
  overflow: hidden;
  transition: all 0.8s linear;
  z-index: 0;
}

.utility_basic-button:hover::before {
  content: attr(data-value);
  width: 100%;
  left: 0%;
  color: vaR(--white);
  background-color: var(--secondary-color);
}

.utility_basic-button > a {
  color: var(--white);
  line-height: 2.8;
  font-weight: 500;
  font-size: 15px;
}

.utility_padding {
  padding: var(--section-padding);
}

.utility_background-property {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.utility_sub-title {
  text-transform: uppercase;
  font-size: 15px;
  color: vaR(--primary-color);
}

@media only screen and (max-width: 500px) {
  .utility_main-heading {
    font-size: 25px;
    font-weight: 700;
  }
  .utility_sub-heading {
    font-size: 18px;
    font-weight: 500;
  }
  .utility_text {
    font-size: 16px;
  }
}

.new-btn {
  border-radius: 6px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  box-shadow: 0 15px 35px #377ef926;
  border: none;
  outline: none;
  line-height: 2.8;
  color: var(--white);
  height: max-content;
  width: max-content;
}

.new-btn > a {
  color: var(--white);
}
